__pycache__
*.so
build
.coverage_*
*.egg-info
*~
slurm*
logs
.vscode
local/
.gitmodules
wandb/
onelogger.log
onelogger.err
.venv
_research/results/
_research/packages*/
cache/
core_*
.pytest_cache/
/test_cases/
**/dist/

# Sphinx documentation
docs/_build
docs/apidocs

# Git worktrees
.worktrees/

/tommaso_local
